/*Making the site responsive*/

nav .fa-solid.fa-xmark, nav .fa-solid.fa-bars{
    display: none;
}

@media only screen and (max-width: 600px){
    .header{
        background-image: url("../images/bg-home-mobile.jpg");
    }

    .head{
        background: none;
    }

    .head img{
        display: none;
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 60px;
    }

    .header-text span{
        font-size: 30px;
    }

    nav .fa-solid.fa-xmark, nav .fa-solid.fa-bars{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: linear-gradient(rgba(0,0,0,0.6), #b26b00);
        position: fixed;
        top: 0;
        right: -200px;  /*Set because width is 200px*/
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav .fa-solid.fa-bars{
        position: absolute;
        top: 25px;
        right: 5%;
        cursor: pointer;
    }

    nav ul .fa-solid.fa-xmark{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .titles{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .timeline::after{
        left: 31px;
    }

    /* Full-width containers */
    .timeline-item{
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline-item::before{
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .timeline-item.left::after, .timeline-item.right::after{
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .timeline-item.right{
        left: 0%;
    }

    #projects{
        padding: 30px 0px;
    }

    #certifications{
        padding: 30px 0px;
    }

    .contact .titles{
        font-size: 30px;
        font-weight: 300;
        color: #fff;
        text-align: center;
    }

    .socials a{
        font-size: 30px;
    }

    #copyright{
        font-size: 14px;
    }
}